body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5 5 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

}
.btnCadastro{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
border-bottom: solid 2px #C0C0C0;
gap: 10px;
}

.btnCadastro button{
border-radius: 10px;
width:200px;
}
 #title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #C0C0C0;
 }

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
   
}

button:hover {
   border-color: #ddd;
}

#resultado {
    margin-top: 20px;
}

.hide{
display: none;
}

#btnAdd{
background-color:#32CD32 ;
color:#FFFAFA;
font-weight:bolder;
width: 150px;
display: flex;
justify-content: space-around;
border-radius: 30px;
/* border-color: transparent; */
}

